/aclocal.m4
/autom4te.cache/
/config.log
/Makefile
/Makefile.in
/config.h
/config.h.in
/config.status
/config.guess
/config.sub
/configure
/install-sh
/missing
/libtool
/m4
/ar-lib
/compile
/depcomp
/ltmain.sh
**/.deps
**/.dirstamp
/stamp-h1
*.o
*.ko
*.lo
*.la
export_syms
i386
machine
opt_global.h
x86
.libs
algchaining_sample
ccm_sample
cipher_sample
cpa_sample_code
dc_dp_sample
dc_stateless_multi_op_sample
dc_stateless_sample
dh_sample
ec_montedwds_sample
eddsa_sample
gcm_sample
hash_file_sample
hash_sample
hkdf_sample
ipsec_sample
prime_sample
ssl_sample
sym_dp_sample

